body {
  font-family: "Forum", serif;
}
nav ul li {
  display: inline;
  text-decoration: none;
}
footer {
  background-color: black;
}
body {
  padding: 0;
  margin: 0;
}
.hero {
  background-color: #f08e80;
  min-height: 90vh;
  display: inline-block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 32px;
}
.navbar .links a {
  text-decoration: none;
  color: white;
  margin-right: 16px;
  font-size: 1.2rem;
}
.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.contact {
  background-color: white;
  color: #f08e80;
  padding: 16px 24px;
  text-decoration: none;
}
.navbar .contact:hover {
  opacity: 0.8;
}
.Content {
  padding: 0 15%;
}
.tagline {
  font-size: 4.5rem;
  color: white;
  letter-spacing: 2px;
}
.mission {
  font-size: 2rem;
}
.mission p {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: white;
}
.missiontwo {
  font-size: 2rem;
}
.missiontwo p {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: white;
}
.blog {
  padding: 64px 0;
}
.blog-content {
  font-size: 2rem;
  padding: 0px 15%;
}
.blog-content p {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: black;
}
.events {
  padding: 64px 0;
  background-color: beige;
  padding: 0;
  display: inline-block;
  width: 100%;
}
.events-content {
  font-size: 2rem;
  padding: 0px 15%;
}
.events-content p {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: black;
}
footer {
  background-color: black;
  color: white;
  padding: 64px;
}
.footerc {
  text-align: center;
}
footer img {
  width: 2rem;
  height: 2rem;
  margin: 0 8px;
}
